.weathercard { 
	min-width: 150px; 
	height: auto;
	background-color: rgba(255,255,255,0.4);
	text-align: center; 
	padding: 0 2%;
	color: black;
}

.weathercard:hover { 
	background-color: rgba(255,255,255,1);
	box-shadow: 5px 10px rgba(0,0,0,1);
}

.weathercardvertical {
	width: 100%;
	max-width: 400px;
	background-color: rgba(255,255,255,0.4);
	text-align: left; 
	padding: 0 10%;
	margin: 0 0 5px 0;
	color: black;
}

.weathercardvertical:hover {
	background-color: rgba(255,255,255,1);
	box-shadow: 5px 10px rgba(0,0,0,1);
}

.cardcontainer {
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	background-color: grey; 
	align-content: center;
	padding: 0;
}